/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@font-face {
	font-family: 'free3of9';
	src: url(/assets/c39hrp24dhtt.ttf);
}

p.barcode_font {
	font-family: 'free3of9';
	font-size: 48px;
}

body {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; background-color: transparent; color: #333; -webkit-font-smoothing: antialiased;
}

.nav {
	font-size: 18px;
}

.flash {
    text-align: center;
    padding: .6em;
    margin: 0 auto .5em;
    clear: both;
	font-size: 36px;
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}