<!DOCTYPE html>
<html>
<head>
  <title>Top Counter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body padding-top: 40px;>

<%= yield %>

</body>
</html>
